@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


* {
    margin: 0%;
    padding: 0%;
}

:root {
    --title_color: #4b545c;
    --sub_color: hsl(201, 11%, 66%);
    --footer_color: #e4e4e4;
    --footer_text : #4b545c;

    --hover_color: #26bba5;

    --ios: #26bba5;
    --ios_shadow: #219f89;

    --mac: #6174ff;
    --mac_shadow: #5161da;


    --main_font: 'Bai Jamjuree', sans-serif;
}


main {
    font-family: var(--main_font);
}

#title {
    text-align: center;
    padding: 20px;
    background-color: white;

    background: url(../images/bg-header-desktop.png) white;
}

#title > img {
    width: 65px;
    margin-top: 15px;
    margin-bottom: 25px;
}

#title > h1 {
    color: var(--title_color);
    margin-bottom: 5px;
    font-size: 25px;
}

#title > p {
    margin-bottom: 25px;
    font-size: 14px;
    color: var(--sub_color);
}

.donwload {
    border-radius: 25px;

    padding: 12px 30px;
    margin-bottom: 45px;
    border: none;

    font-family: var(--main_font);
    font-size: 14px;
    font-weight: 600;
    color: white;
}

.ios {
    background-color: var(--ios);

    margin-right: 10px;
    box-shadow: 0px 1px 0px 1px var(--ios_shadow);
}

.mac {
    background-color: var(--mac);

    box-shadow: 0px 1px 0px 1px var(--mac_shadow);
}

#snippets {
    background-color: white;
    text-align: center;
}

#snippets_title {
    padding: 50px;
    margin-bottom: 20px;
}

#snippets_title > h2 {
    color: var(--title_color);
    margin-bottom: 5px;
}

#snippets_title > p {
    color: var(--sub_color);
    margin: auto;
    max-width: 500px;
}

#article_pc {

    flex: 1 600px;
    display: flex;
    align-items: center;
    gap: 100px;
}

#article_pc > h3 {
    background-color: #5161da;
}

#pc_text {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    text-align: left;
}

#pc_text h3 {
    color: var(--title_color);
}

#pc_text p {
    color: var(--sub_color);
}


#acess {
    text-align: center;
}

#acess > h2{
    margin-bottom: 10px;
    color: var(--title_color);
}

#acess > p {
    margin-bottom: 50px;
    color: var(--sub_color);
}

#supercharge {
    text-align: center;
    padding: 20px;
    margin-bottom: 50px;
}

#supercharge > h2 {
    color: var(--title_color);
    margin-bottom: 10px;
}

#supercharge > p {
    color: var(--sub_color);
    margin-bottom: 50px;
}

.charge_flex {
    display: flex;

    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.charge_flex h3 {
    color: var(--title_color);
}

.charge_flex p {
    color: var(--sub_color);
}

.charge_flex > div {
    flex: 1;
    margin-bottom: 50px;
}

.charge_flex > img {
    flex: 150px auto;
}

#bottom {
    text-align: center;
    padding: 20px;
    margin-bottom: 50px;
    background-color: white;
}

#bottom > h2 {
    color: var(--title_color);
    margin-bottom: 15px;
    font-size: 25px;
}

#bottom > p {
    margin-bottom: 25px;
    font-size: 14px;
    color: var(--sub_color);
}

footer {
    font-family: var(--main_font);
    background-color: var(--footer_color);
    display: flex;
    padding: 35px;
    column-gap: 200px;
}

footer > img {
    width: 65px;
    margin-left: 50px;
}

footer > ul {
    width: 300px;
    list-style-type: none;
    


    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    
    gap: 25px;
}

.link_footer {
    color: var(--footer_text);
    text-decoration: none;
}

.link_footer:hover {
    transition-duration: 0.2s;
    color: var(--hover_color);
}


#logos {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 25px;
}

#logos > a:hover {
    transition-duration: 0.2s;
    filter: invert(55%) sepia(73%) saturate(451%) hue-rotate(122deg) brightness(98%) contrast(83%);
}

.attribution { 
    background-color: var(--footer_color);
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
