@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


* {
    margin: 0%;
    padding: 0%;
}


main {
    background-color: blue;
    font-family: 'Bai Jamjuree', sans-serif;
}

section {
    background-color: red;
}

article {
    background-color: rgb(139, 3, 3);
}

footer {
    background-color: blueviolet;
}