@charset "UTF-8";

* {
    padding: 0%;
    margin: 0%;
}


header {
    background-color: blue;
}

main {
    display: grid;
    padding: 20px;
    grid-template-columns: auto auto auto;
    background-color: violet;
    justify-items: center;
    gap: 15px;
    row-gap: 50px;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: brown;
    border-radius: 20px;
    width: 400px;
}


img {
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}

.icons {
    width: 50px;
}