@charset "UTF-8";



@media (max-width: 900px) {
    main {
        width: 550px;
    }

    #user input {
        width: 120px;
    }

}

@media (max-width: 620px) {
    main {
        width: 320px;
    }

    #user {
        gap: 10px;
    }

    #user input {
        width: 70px;
    }

    #output {
        font-size: 50px;
    }

    #image_button {
        width: 35px;
    }

    #divider2 {
        border: 1px solid grey;
        width: 80%;
        height: 0px;
    }

    #divider2::before, #divider2::after {
        flex: 1;
        content: '';
        padding: 3px;
        margin: 5px;
    }
}