@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

:root 
{
    --teste: blue;
    --button_background: hsl(278, 68%, 11%);
    --button_color: white;
    --sub_text: hsl(279, 6%, 55%);
    --input_border: hsl(270, 3%, 87%);
    --input_color: hsl(279, 6%, 55%);
}

*
{
    margin: 0%;
    margin-bottom: 0px;
    padding: 0%;
}

body 
{
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    display: flex;
    flex-direction: row;

}

#bg 
{
    background-image: url(images/bg-main-desktop.png);
    background-repeat: no-repeat;
    width: 400px;
    height: 681px;
}


#card 
{
    display: flex;
    justify-content: center;
    align-items: center;
}

#space
{
    display: flex;
    flex-direction: column;
}

#front
{
    position: relative;
    color: white;
    letter-spacing: 2px;
    right: 300px;

    margin-bottom: 20px;
}

#back
{
    right: 250px;
}

#logo
{
    position: absolute;
    left: 20px;
    top: 20px;
}

#card_number
{
    position: absolute;
    bottom: 65px;
    left: 22px;

    letter-spacing: 3px;
    font-size: 29px;
}

#card_name
{
    position: absolute;
    bottom: 25px;
    left: 20px;
    text-transform: uppercase;
}
#card_date
{
    position: absolute;
    bottom: 25px;
    left: 350px;
}

#back {
    position: relative;
    color: white;
    width: auto;
}

#card_cvc
{
    position: absolute;
    bottom: 118px;
    left: 350px;
    letter-spacing: 2px;
}

main 
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#input_area
{
    position: relative;
    display: flex;
    flex-direction: column;
    letter-spacing: 2px;
    gap: 10px;
    right: 120px;    
}

#compact
{
    display: flex;
    gap: 20px;
}


.input
{
    border: 1px solid var(--input_border);
    color: var(--input_color);
    border-radius: 8px;
    padding: 10px;
    font-family: "Space Grotesk", sans-serif;
    font-size: 18px;
}

.input:focus
{
    outline: none;
    background: linear-gradient(white, white) padding-box,
    linear-gradient(90deg, hsl(249, 99%, 64%), hsl(278, 94%, 30%)) border-box;
    border-radius: 8px;
    border: 1px solid transparent;
}

.input_title
{
    text-transform: uppercase;
    font-size: 13px;
}
.date
{
    width: 60px;
}

#cvc
{
    width: 170px;
}

.button
{
    display: inline-block;
    border: none;
    border-radius: 8px;
    padding: 10px;
    font-family: "Space Grotesk", sans-serif;
    font-size: 18px;
    background-color: var(--button_background);
    color: white;
}

.button:hover
{
    cursor: pointer;
}

#thanks
{
    position: relative;
    display: none;

    flex-direction: column;
    justify-items: center;
    align-items: center;
    right: 120px;
    gap: 10px;
}

#thanks > h1 
{
    text-transform: uppercase;
    font-weight: 500;
    font-size: 25px;
    letter-spacing: 2px;
    margin-top: 20px;
}

#thanks > p
{
    color: var(--sub_text);
    margin-bottom: 20px;
}

#continue
{
    width: 300px;
}