@charset "UTF-8";



@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


:root {
    --top_chat: #e942ff, #8838ff;
    --chat_background: #f5f3f7;

    --samuel_background: #eee3f4;
    --samuel_chat: #9241c8;
    --client_background: white;
    --client_chat: #6e5d7e;
    --box_shadow_texts: #87878775;

    --radio_button: #e570ff;
    --text_color: grey;
    --submit_background: #3e2753;

    --main_h1: #3e2753;
    --main_p: #a39daa;

}

* {
    margin: 0%;
    padding: 0%;
}

body {
    font-family: "Rubik", sans-serif;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#decoration {
    position: absolute;
    left: -30px;
    width: 500px;
    height: 150%;
    background: linear-gradient(180deg, var(--top_chat));
    border-radius: 0px 0px 100px 100px;
}

#smartphone {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    width: 400px;
    height: auto;
    padding: 20px;
    background-color: white;

    box-shadow: 0px 0px 5px 2px #BABABA;
    border-radius: 30px;
}

/* Usando essa overlay posso fazer o efeito desejado no design
não sei se tem maneiras melhores, essa foi a primeira coisa que veio a mente.
*/
#overlay {
    background-color: white;
    width: 300px;
    height: 50px;
    text-align: center;
    margin: auto;
    position: relative;
    border-radius: 0px 0px 30px 30px;
    top: -15px;
}

#top {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;

    margin-top: -50px;

    padding: 50px 20px 20px 20px;

    border-radius: 25px 25px 10px 10px;

    background: linear-gradient(-90deg, var(--top_chat));
}

.top_svg {
    width: 25px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(142deg) brightness(105%) contrast(102%);
}

#avatar {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    border: 2px solid #ffffff;
    margin-right: 15px;
}

#info {
    display: flex;
    flex-direction: column;
    text-align: left;
}

#info h2 {
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 3px;
}

#info p {
    font-weight: 500;
    font-size: 13px;
    color: #c2c2c2;
}

.spacing {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#chat {
    background-color: var(--chat_background);
    padding: 20px;

    border-radius: 0px 0px 20px 20px;
}
.samuel {
    background-color: var(--samuel_background);
    color: var(--samuel_chat);
    width: 300px;
    padding: 10px;
    height: auto;
    border-radius: 15px 15px 15px 5px;
    
    margin: 15px 0px 15px 0px;

    box-shadow: 0px 0px 10px -2px var(--box_shadow_texts);
}

.client {
    background-color: var(--client_background);
    color: var(--client_chat);
    width: 300px;
    padding: 10px;
    height: auto;
    border-radius: 15px 15px 5px 15px;

    box-shadow: 0px 0px 10px -2px var(--box_shadow_texts);
}

#left {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-end;
    gap: 15px;
    margin-top: 20px;
}

#dogs {
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 10px;
}

#dogs img {
    width: 80px;
    border-radius: 20px;
    padding-top: 10px;
}

.price {
    background: linear-gradient(90deg, var(--top_chat));

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;

    width: 300px;
    padding: 15px;
    height: auto;
    border-radius: 15px 15px 15px 5px;
    margin-top: 15px;

    color: white;
}
.price > strong > p {
    font-size: 20px;
    margin-right: 20px;
}

.price img {
    width: 25px;
    margin-right: 10px;
    filter: invert(57%) sepia(57%) saturate(3154%) hue-rotate(240deg) brightness(103%) contrast(101%);
}

#text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    padding: 10px;
    background-color: white;
    margin-top: 20px;

    border-radius: 50px;
    box-shadow: 0px 0px 10px -2px var(--box_shadow_texts);
}

#text p {
    color: var(--text_color);
    font-size: 15px;
    margin-left: 20px;
}

#submit {
    display: flex;
    padding: 10px;
    align-items: center;
    background-color: var(--submit_background);
    justify-items: center;
    border-radius: 50px;
}

#submit img {
    width: 20px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(142deg) brightness(105%) contrast(102%);
}

#desc {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#desc h1 {
    font-size: 50px;
    font-weight: 500;
    color: var(--main_h1);
}

#desc p {
    width: 500px;
    text-align: justify;
    color: var(--main_p);
}