@import url(huddle.css);

@media (max-width: 850px) {

    #title {
        background: url(../images/bg-hero-mobile.svg), var(--title_color);
        margin-bottom: 80px;
    }

    #title_logo img {
        width: 120px;
    }

    #title_button {
        width: 90px;
        padding: 5px 20px 5px 20px;
    }

    #build {
        display: flex;
        flex-direction: column;
    }

    #build div {
        display: flex;
        align-items: center;
        text-align: center;
    }

    #build div > h1 {
        font-size: 30px;
        font-weight: 600;
        width: auto;
    }

    #build div > p {
        width: auto;
        margin-bottom: 25px;
    }

    #build a {
        margin-bottom: 65px;
    }


    #main_footer {
        max-width: 80%;
    }

    .short {
        flex-direction: column-reverse;
        text-align: center;
        align-items: center;
        justify-content: center;

        max-width: 75%;
    }

    .short > img {
        max-width: 90%;
        margin: 20px 0px 60px 0px;
    }

    .short_text {
        text-align: center;
        align-items: center;
    }

    .short_text > h2 {
        
        margin-bottom: 15px;
    }

    footer {
        flex-direction: column;
        align-items: self-start;
    }

    #logo_footer {
        width: 200px;
    }

    footer section {
        margin-top: 100px;
    }

    .footer_icons > p {
        width: auto;
    }

    #icons_social {
       text-align: center;
    }
    
}